@tailwind base;
@tailwind components;
@tailwind utilities;

.split {
  display: flex;
  flex-direction: row;
}
.gutter {
  background-color: #1f2937;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bM/59BQAJMAD8AhmB4kYgYAIAJAE0+d/w3cQcFAAAAAElFTkSuQmCC');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}
.split-vertical {
    display: flex;
    flex-direction: column;
}
